// Fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@600;700&family=Oranienbaum&display=swap);

// Mixins
@import "mixins/adaptive-font";

// Partials
@import "partials/fonts";
@import "partials/vars";
@import "partials/libs";

// Blocks
@import "blocks/header";
@import "blocks/main-screen";
@import "blocks/about";
@import "blocks/services";
@import "blocks/testimonials";
@import "blocks/rooms";
@import "blocks/counters";
@import "blocks/reservation";
@import "blocks/news";
@import "blocks/pricings";
@import "blocks/weather";
@import "blocks/contact";
@import "blocks/map";
@import "blocks/footer";

//Pages
@import "pages/blocks/page-rooms";
@import "pages/blocks/page-news";
@import "pages/rooms-single/rooms-img";
@import "pages/rooms-single/rooms-detail";
@import "pages/rooms-single/rooms-reviews";
@import "pages/blog-single/blog-img";
@import "pages/blog-single/blog-detail";
@import "pages/blog-single/blog-comments";
@import "pages/blog-single/blog-leave-comment";

// Components
@import "components/menu";
@import "components/title";
@import "components/btn";
@import "components/slider";
@import "components/square";
@import "components/breadcrumb";
@import "components/pagination";

/* ==========================================================================
  General Styles
========================================================================== */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html {scroll-behavior: smooth;}
html,body{color: $color;font-family: $font-family;height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
input,
textarea {
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 15px 20px;
	resize: none;
	width: 100%;

	&:active,
	&:focus {
		border-color: $color-secondary;
	}

	&:active:placeholder-shown,
	&:focus:placeholder-shown {
		color: $color-secondary;
	}
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
body.lock {
	overflow: hidden;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {

	}
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{
		display: none;
	}
}

.page {
	flex: 1 1 auto;
}