.blog-leave {
	padding: 60px 0px;

	@media (max-width: 1366px) {
		padding: 50px 0px;
	}

	@media (max-width: 768px) {
		padding: 40px 0px;
	}

	@media (max-width: 480px) {
		padding: 30px 0px;
	}
	// .blog-leave__title

	&__title {
		margin: 0px 0px 60px 0px;

		@media (max-width: 480px) {
			&::after {
				display: none;
			}
		}
	}

	// .blog-leave__row

	&__row {
		display: flex;
		flex-flow: row wrap;
		margin: -10px;
	}

	// .blog-leave__column

	&__column {
		flex: 0 1 50%;
		padding: 10px;

		@media (max-width: 600px) {
			flex: 0 1 100%;
		}
	}

	// .blog-leave__form

	&__form {
		display: flex;
		flex-direction: column;

		input,
		textarea {
			margin: 0px 0px 20px 0px;

			&:last-child {
				margin: 0;
			}
		}
	}

	// .blog-leave__form-message

	&__form-message {
		height: 190px;
	}

	// .blog-leave__form-button

	&__form-button {
		padding: 15px 100px 15px 19px;
		align-self: flex-end;
		background: $color-secondary;

		@media (max-width: 600px) {
			padding: 10px 60px 10px 19px;
		}

		&:hover {
			background: #14BDD0;
		}
	}
}

