.about__slider .slick-track {
	display: flex;
	align-items: center;
}
.about__slider .slick-slide.slick-current{
	.about__slider-item__box {
		height: 400px;
	}
}

.slick-arrow{
	position: absolute;
	padding: 0;
	font-size: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	color: transparent;
	width: 45px;
	height: 45px;
	border: 2px solid;
	border-radius: 50%;
	z-index: 1;
	transition: border-color .3s;
}

.about__slider .slick-arrow {
	bottom: 0%;
}

.about__slider .slick-prev {
	left: 19%;

	@media (max-width: 1400px) {
		left: 25%;
	}
 }
 
.about__slider .slick-next {
	left: 22%;

	@media (max-width: 1400px) {
		left: 30%;
	}
 }

.about__slider .slick-arrow{
	border-color: $color-secondary;
}

.about__slider .slick-arrow:hover {
}

.testimonials__slider .slick-arrow{
	border-color: $white;
}

.testimonials__slider .slick-arrow {
	top: 50%;
	transform: translateY(-50%);
}

.testimonials__slider .slick-prev {
	left: 0%;
 }
 
.testimonials__slider .slick-next {
	right: 0%;
 }

.testimonials__slider .slick-arrow:hover {
	border-color: $color-secondary;
}

.slick-prev:before, 
.slick-next:before {
	font-family: "fontello";
	font-size: 18px;
	color: $white;
	transition: color .3s;
}

.about__slider .slick-prev:before, 
.about__slider .slick-next:before {
	color: $color-secondary;
}

.slick-prev:hover:before, 
.slick-next:hover:before {
	color: $color-secondary;
}

.slick-next:before {
	content: '\e802';
 }
 
.slick-prev:before {
	content: '\e801';
}


.rooms-img__slider .slick-arrow {
	background: $color-secondary;
}
.rooms-img__slider .slick-prev:before, 
.rooms-img__slider .slick-next:before {
	color: $white;
}

.rooms-img__slider .slick-arrow {
	top: 40%;
	transform: translateY(-40%);
}

.rooms-img__slider .slick-prev {
	left: 30px;
 }
 
 .rooms-img__slider .slick-next {
	right: 30px;
 }