/* ==========================================================================
  General Styles
========================================================================== */
.slick-arrow{
	position: absolute;
	padding: 0;
	font-size: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	color: transparent;
	z-index: 1;
	width: 45px;
	height: 45px;
	border: 2px solid;
	border-radius: 50%;
}

.slick-prev::before, 
.slick-next::before {
	content: "";
	font-family: "fontello";
	font-size: 18px;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color .3s, border-color .3s;
}

.slick-next::before {
	content: '\e802';
 }
 
.slick-prev::before {
	content: '\e801';
}

/* ==========================================================================
  about__info-slider
========================================================================== */
.about__info-slider .slick-track {
	display: flex;
	align-items: center;
}
.about__slider .slick-track {
	display: flex;
	align-items: center;
}
.about__slider .slick-current {
	.about__slider-img {
		height: 330px;

		@media (max-width: 1366px) {
			height: 300px;
		}

		@media (max-width: 450px) {
			height: 240px;
		}
	}
}
.about__info-slider .slick-list {
	display: flex;
	height: 100% !important;
}
.about__info-slider .slick-prev:before, 
.about__info-slider .slick-next:before {
	color: $color-secondary;
}

.about__info-slider .slick-arrow {
	top: 0;
	color: $color-secondary;
}

.about__info-slider .slick-prev {
	left: 0;
 }
 
.about__info-slider .slick-next {
	left: 80px;
 }
/* ==========================================================================
  testimonials__slider
========================================================================== */
 .testimonials__slider .slick-prev::before, 
 .testimonials__slider .slick-next::before {
	color: $white;
}

 .testimonials__slider .slick-prev:hover::before, 
 .testimonials__slider .slick-next:hover::before {

	@media (min-width: 991.98px) {
		color: $color-secondary;
	}
}

.testimonials__slider .slick-arrow {
	color: $white;
	top: 50%;
	transform: translateY(-50%);
	transition: color .3s;

	&:hover {
		@media (min-width: 991.98px) {
			color: $color-secondary;
		}
	}
}

.testimonials__slider .slick-prev {
	left: 0%;
 }
 
.testimonials__slider .slick-next {
	right: 0%;
 }
/* ==========================================================================
  rooms-img__slider
========================================================================== */
.rooms-img__slider .slick-prev::before, 
.rooms-img__slider .slick-next::before {
	color: $white;
}

.rooms-img__slider .slick-arrow {
	color: $color-secondary;
	background-color: $color-secondary;
	top: 50%;
	transform: translateY(-50%);
}

.rooms-img__slider .slick-prev {
	left: 30px;
 }
 
 .rooms-img__slider .slick-next {
	right: 30px;
 }