.about {
	padding: 60px 0px 0px 0px;

	@media (max-width: 767.98px) {
		padding: 40px 0px 0px 0px;
	}

	@media (max-width: 479.98px) {
		padding: 30px 0px 0px 0px;
	}

	// .about__row

	&__row {
		display: flex;
		margin: 0px 0px 70px 0px;

		@media (max-width: 991.98px) {
			flex-direction: column;
			margin: 0px 0px 60px 0px;
		}

		@media (max-width: 767.98px) {
			margin: 0px 0px 50px 0px;
		}

		@media (max-width: 479.98px) {
			margin: 0px 0px 40px 0px;
		}
	}

	&__column {
		flex: 0 0 350px;

		@media (max-width: 991.98px) {
			order: 1;
			flex: 0 1 100%;
		}

		&--bg {
			flex: 1 1 auto;

			@media (max-width: 991.98px) {
				order: 2;
			}
		}
	}

	// .about__item

	&__item {
		height: 100%;
	}

	// .about__text

	&__text {
		padding: 0px 60px 0px 0px;

		@media (max-width: 991.98px) {
			padding: 0px 0px 0px 0px;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			letter-spacing: 0.64px;
			margin: 0px 0px 40px 0px;

			@media (max-width: 1366px) {
				margin: 0 0 30px 0;
			}
	
			@media (max-width: 991.98px) {
				margin: 0 0 25px 0;
			}

			@media (max-width: 767.98px) {
				margin: 0 0 20px 0;
			}
	
			@media (max-width: 479.98px) {
				margin: 0 0 15px 0;
			}
	
		}
	}

	// .about__btn

	&__btn {
		border: 1px solid $color-secondary;
		background: $color-secondary;
		padding: 15px 80px 15px 20px;

		&:hover {
			color: $color-secondary;
			background: $white;
			border: 1px solid $color-secondary;
			
			&::after {
				background: $color-secondary;
			}
		}
	}

	// .about__img

	&__img {
		position: relative;
		height: 100%;

		@media (max-width: 991.98px) {
			padding: 0px 0px 40% 0px;
			margin: 0px 0px 30px 0px;
			overflow: hidden;
			height: auto;
		}

		@media (max-width: 479.98px) {
			padding: 0px 0px 70% 0px;
			margin: 0px 0px 15px 0px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .about__slider

	&__slider {
		position: relative;
		background: rgb(255,255,255);
		background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,250,255,1) 16%, rgba(247,250,255,1) 100%);
	}

	&__slider-img {
		height: 270px;
		margin: 0px 0px 30px 0px;

		@media (max-width: 1366px) {
			height: 240px;
			margin: 0px 0px 20px 0px;
		}

		@media (max-width: 767.98px) {
			margin: 0px 0px 15px 0px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		background-color: #f7faff;
	}
	
	&__info-slider {
		padding: 60px 0 55px 0;

		@media (max-width: 1366px) {
			padding: 60px 0 55px 0;
		}

		@media (max-width: 767.98px) {
			padding: 60px 0px 45px 0px;
		}

		@media (max-width: 479.98px) {
			padding: 60px 0px 30px 0px;
		}
	}

	// .about__info-title

	&__info-title {
		color: $color-secondary;
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 0.96px;
		margin: 0px 0px 16px 0px;

		@media (max-width: 1366px) {
			margin: 0 0 5px 0;
		}

		@media (max-width: 767.98px) {
			margin: 0px 0 10px 0;
		}

		@media (max-width: 479.98px) {
			font-size: 22px;
		}
	}

	// .about__info-subtitle

	&__info-subtitle {
		color: #999999;
		font-size: 14px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 0.56px;
		margin: 0px 0px 30px 0px;

		@media (max-width: 1366px) {
			margin: 0 0 20px 0;
		}

		@media (max-width: 767.98px) {
			line-height: 20px;
   		 margin: 0 0 15px 0;
		}
	}

	// .about__info-descr

	&__info-descr {
		color: #666666;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0.64px;
	}
}
