.services {
	padding: 60px 0px;

	@media (max-width: 767.98px) {
		padding: 40px 0px;
	}

	@media (max-width: 479.98px) {
		padding: 30px 0px;
	}

	// .services__row

	&__row {
		display: flex;
		flex-flow: row wrap;
		margin: -30px -50px;

		@media (max-width: 1000px) {
			margin: -20px -20px;
		}

		@media (max-width: 767.98px) {
			margin: -15px -15px;
		}
	}

	&__row-single {
		margin: -20px -40px;
	}
	// .services__column

	&__column {
		flex: 0 1 33.333%;
		text-align: center;
		padding: 30px 50px;

		@media (max-width: 1366px) {
			padding: 20px 35px;
		}

		@media (max-width: 1000px) {
			padding: 20px 20px;
		}

		@media (max-width: 767.98px) {
			flex: 0 1 50%;
			padding: 15px 15px;
		}

		@media (max-width: 479.98px) {
			flex: 0 1 100%;
		}
	}

	&__column-single {
		flex: 0 1 25%;
		padding: 20px 40px;
	}

	&__content {

		&:hover {
			@media (min-width: 991.98px) {				
				.services__content-title {
					color: $color-secondary;
				}
				.services__content-icon {

					&--pool {
						background: url('../img/icons/sprites.png') -261px -70px;
					}
					&--breakfast {
						background: url('../img/icons/sprites.png') -192px -81px;
					}
					&--restaurant {
						background: url('../img/icons/sprites.png') -261px -12px;
					}
					&--pets {
						background: url('../img/icons/sprites.png') -82px -209px;
					}
					&--washing {
						background: url('../img/icons/sprites.png') -222px -209px;
					}
					&--wifi {
						background: url('../img/icons/sprites.png') -81px -150px;
					}
					&--tv {
						background: url('../img/icons/sprites.png') -12px -81px;
					}
					&--air {
						background: url('../img/icons/sprites.png') -102px -12px;
					}
				}
			}
		}
	}

	// .services__icon

	&__content-icon {
		margin: 0 auto 25px;
		width: 45px;
		height: 45px;
		
		@media (max-width: 1366px) {
			margin: 0px auto 10px;
		}
		
		@media (max-width: 767.98px) {
			margin: 0px auto 15px;
		}
		
		&--pool {
			width: 61px;
			background: url('../img/icons/sprites.png') -261px -127px;
		}
		&--breakfast {
			width: 45px;
			
			background: url('../img/icons/sprites.png') -192px -12px;
		}
		&--restaurant {
			width: 46px;
			background: url('../img/icons/sprites.png') -150px -150px;
		}
		&--pets {
			width: 46px;
			background: url('../img/icons/sprites.png') -12px -209px;
		}
		&--washing {
			width: 46px;
			background: url('../img/icons/sprites.png') -152px -209px;
		}
		&--wifi {
			width: 45px;
			background: url('../img/icons/sprites.png') -12px -150px;
		}
		&--tv {
			width: 56px; 
			background: url('../img/icons/sprites.png') -92px -81px;
		}
		&--air {
			width: 66px; 
			background: url('../img/icons/sprites.png') -12px -12px;
		}
	}

	&__content-icon--bg {
		margin: 0px auto 25px;
		width: 65px;
		height: 55px;

		img {
			object-fit: contain;
		}
	}

	// .services__content-title

	&__content-title {
		font-size: 20px;
		font-weight: 600;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		margin: 0px 0px 25px 0px;

		@media (max-width: 1366px) {
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: 767.98px) {
			font-size: 18px;
			line-height: 20px;
		}
	}

	// .services__content-label

	&__content-label {
		font-size: 20px;
		font-weight: 600;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 0.8px;

		@media (max-width: 767.98px) {
			font-size: 18px;
			line-height: 20px;
		}
	}

	// .services__descr

	&__content-descr {
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0.56px;

		@media (max-width: 767.98px) {
			line-height: 21px;
		}
	}
}

