.weather {
	position: relative;
	background-color: #222222;
	padding: 60px 0px;

	@media (max-width: 768px) {
		padding: 40px 0px;
	}

	@media (max-width: 480px) {
		padding: 30px 0px;
	}

	&__bg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(29, 27, 26, .8);
		}
	}
	// .weather__row

	&__row {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-around;
		margin: -25px -10px;

		@media (max-width: 750px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .weather__column

	&__column {
		flex: 0 1 45%;
		padding: 25px 10px;

		@media (max-width: 750px) {
			flex: 0 1 40%;
		}
	}

	// .weather__item-title

	&__item-title {
		text-align: center;
		color: $white;
		font-family: $font-third;
		@include adaptive-font(40, 33);
		font-weight: 700;
		line-height: 30px;
		letter-spacing: 1.6px;
		margin: 0px 0px 55px 0px;

		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	
		@media (max-width: 480px) {
			margin-bottom: 30px;
		}
	}

	// .weather__item-btn

	&__item-btn {
		background: $color-secondary;
		text-align: left;

		&:hover {
			background: $white;
			color: $color-secondary;

			&::after {
				background: $color-secondary;
			}
		}
	}

	&__item-location {
		margin: 0px 0px 20px 0px;
	}

	&__item-btn,
	&__item-location {
		border-radius: 3px;
		padding: 15px 20px;
		width: 100%;
	}

	// .weather__item-temprature

	&__item-temprature {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-secondary;
		font-size: 50px;
		font-weight: 700;
		line-height: 30px;
		letter-spacing: 2px;
		margin: 0px 0px 21px 0px;

		@media (max-width: 480px) {
			font-size: 45px;
		}

		img {
			margin: 0px 20px 0px 0px;
		}
	}

	// .weather__item-list

	&__item-list {
		display: flex;
		justify-content: center;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.64px;
			min-width: 100px;
			width: 100%;
			padding: 16.5px 5px;
			background: $color-secondary;
			color: $white;
			border-radius: 3px;
			margin: 0px 10px 0px 0px;

			@media (max-width: 479.98px) {
				min-width: 90px;
			}

			&:last-child {
				margin: 0;
			}
		}
	}
}