.page-rooms {
	padding: 60px 0px;

	@media (max-width: 768px) {
		padding: 40px 0px;
	}

	@media (max-width: 480px) {
		padding: 30px 0px;
	}

	&__row {
		padding: 0px 0px 40px 0px;
		border-bottom: 1px solid #cccccc;
	}

	&__featured {
		padding: 0 15px;
	}
}